
     
       <%= render 'layouts/navbar.html.erb' %>
        
        <!-- <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->

        <!-- Landing Photo -->
        <div id="Hero">
            <div class="container">
                <div class="row">
                    <!-- Video Block -->
                    <!-- <div class="col-sm-7 col-sm-offset-0 col-xs-10 col-xs-offset-1" id="IntroVideo">
                    </div> --><!-- .intro-video -->
                    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" id="HeroInfo">
                        <h1>Some Titel Here!</h1>
                        <p class="lead">
                            Some Other Text Here
                            Some Other Text Here
                            Some Other Text Here
                            Some Other Text Here
                        </p>
                        <button class="btn btn-info btn-lg pull-right" id="GoToSignUp">Sign Up Now </button>
                    </div><!-- .col** -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- #landing-photo -->
        
        
        <%= render 'layouts/sign_up.html.erb' %>
        
        
        
        
        
  