                        <!-- Start Of Statue Block -->
                        <!-- Add "hot" class if Hot Post -->
                        <div class="post" tabindex="0">
                                <!-- Star Sign if Hot Post -->
                                <span class="star icon"><i class="fa fa-star icon-spin"></i></span>
                            
                            <div class="picture">
<!-- Post Picture Here -->
                                <img src="images/logo_shape.png" alt="">
                            </div>

                            <div class="text">
                                <!-- Settings button of the Post -->
                                <a href="#" class="edit-post-button pull-right"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="delete-post-button pull-right" data-message="Do you realy want to DELETE this post ?"><i class="fa fa-times"></i></a>
                                
<!-- Post Name Here -->
                                <a href="#" class="name">Full Name</a>    

<!-- Post Content Here -->
                                <p class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </p>

                                <div class="edit">
    <!-- Edit Post Textarea Here -->
                                    <textarea id="textarea" class="form-control" rows="4"></textarea>
    <!-- Submit Edit Post Button Here-->
                                    <button type="button" class="btn btn-primary pull-right">Submit</button>
                                </div><!-- .edit -->
                            </div><!-- .text -->

                            <!-- Comment Block -->
                            <div class="comment">
                                <div class="comment-picture">
<!-- Comment Picture Here -->
                                    <img src="images/logo_shape.png" alt="">
                                </div><!-- .comment-picture -->
                                
                                <div class="comment-text">
                                    <!-- Settings button of the Post -->
                                    <a href="#" class="edit-post-button pull-right"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="delete-post-button pull-right" data-message="Do you realy want to DELETE this Comment ?"><i class="fa fa-times"></i></a>

<!-- Comment Name Here -->
                                    <a class="comment-name">Full Name</a>
<!-- Comment Name Here -->
                                    <p class="comment-content">
olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi
                                    </p><!-- .comment-content -->

                                    <div class="edit">
<!-- Edit Comment Textarea Here -->
                                            <textarea id="textarea" class="form-control" rows="2"></textarea>
<!-- Submit Edit Comment Button Here-->
                                            <button type="button" class="btn btn-primary btn-sm pull-right">Submit</button>
                                    </div><!-- .edit -->

                                </div><!-- .text -->
                            </div><!-- .comment -->


                            <!-- Comment Block -->
                            <div class="comment">
                                <div class="comment-picture">
<!-- Comment Picture Here -->
                                    <img src="images/logo_shape.png" alt="">
                                </div><!-- .comment-picture -->
                                
                                <div class="comment-text">
                                    <!-- Settings button of the Post -->
                                    <a href="#" class="edit-post-button pull-right"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="delete-post-button pull-right" data-message="Do you realy want to DELETE this Comment ?"><i class="fa fa-times"></i></a>

<!-- Comment Name Here -->
                                    <a class="comment-name">Full Name</a>
<!-- Comment Name Here -->
                                    <p class="comment-content">
olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi
                                    </p><!-- .comment-content -->

                                    <div class="edit">
<!-- Edit Comment Textarea Here -->
                                            <textarea id="textarea" class="form-control" rows="2"></textarea>
<!-- Submit Edit Comment Button Here-->
                                            <button type="button" class="btn btn-primary btn-sm pull-right">Submit</button>
                                    </div><!-- .edit -->

                                </div><!-- .text -->
                            </div><!-- .comment -->


                            <!-- Comment Block -->
                            <div class="comment">
                                <div class="comment-picture">
<!-- Comment Picture Here -->
                                    <img src="images/logo_shape.png" alt="">
                                </div><!-- .comment-picture -->
                                
                                <div class="comment-text">
                                    <!-- Settings button of the Post -->
                                    <a href="#" class="edit-post-button pull-right"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="delete-post-button pull-right" data-message="Do you realy want to DELETE this Comment ?"><i class="fa fa-times"></i></a>

<!-- Comment Name Here -->
                                    <a class="comment-name">Full Name</a>
<!-- Comment Name Here -->
                                    <p class="comment-content">
olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi
                                    </p><!-- .comment-content -->

                                    <div class="edit">
<!-- Edit Comment Textarea Here -->
                                            <textarea id="textarea" class="form-control" rows="2"></textarea>
<!-- Submit Edit Comment Button Here-->
                                            <button type="button" class="btn btn-primary btn-sm pull-right">Submit</button>
                                    </div><!-- .edit -->

                                </div><!-- .text -->
                            </div><!-- .comment -->

                            
                            <!-- Clear Float side effects -->
                            <div class="clearfix"></div>
                        </div><!-- End Of statue Block -->
