
/* Contanier width */
.container {
    
}

/* All Text Inputs Height, Color */
.form-control 
{
    height: 40px;
    color: #4D4E4F;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}
.form-control:focus
{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 7px rgba(238,36,125,0.7);
    box-shadow: 0px 0px 7px rgba(238,36,125,0.7);
}

/* All md buttons Height, Transision */
.btn
{
    height: 40px;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: background-color ease-in-out .15s, color ease-in-out .15s;
}

/* All lg Buttons Height */
.btn-lg
{
    height: 50px;
}

/* All sm Buttons Height */
.btn-sm
{
    height: 30px;
}

/* All xs Button Height */
.btn-xs
{
    height: 20px;
}

/* Primary Buttons Font */
.btn-primary
{
    background-color: #EE3F7D;
    color: #fff;
    border-color: #EE3F7D;
}

/* Primary Button Hover Background-color, Color */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active
{
    background-color: #fff !important;
    color: #EE3F7D !important;
    border-color: #EE3F7D !important;
}

/* Info Buttons Font */
.btn-info
{
    background-color: #FAB71F;
    color: #fff;
    border-color: #FAB71F;
}

/* Info Button Hover Background-color, Color */
.btn-info:hover,.btn-info:focus,
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info.focus:active, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover
{
    background-color: rgba(255,255,255,.95);
    color: #FAB71F;
    border-color: #FAB71F;
}

/* All Links Hover Color */
a
{
    color: #EE3F7D;
}
a:hover
{
    color: #EE3F7D;
    text-shadow: 1px 1px rgba(0,0,0,0.15);
}
a:focus,
a:active
a:visited
{
    color: #EE006D;
}
/* Navbar Margin, Box-shadow */
.navbar
{
    margin-bottom: 0;
    -webkit-box-shadow: 0px 0px 30px -20px rgba(0,0,0,.5);
    box-shadow: 0px 0px 30px -20px rgba(0,0,0,.8);
}

/* Navbar Form Border */
.navbar-form
{
    border-top: 0;
    border-bottom: 0;
}
/* Navbar Brand */
.navbar .navbar-brand
{
    padding: 0;
    margin: 8px 0 8px 10px;
    height: 52px;
}
/* Navbar Brand Logo Height */
.navbar .navbar-brand .logo-shape
{
    height: 100%;
}
/* Navbar Brand Text Height */
.navbar .navbar-brand .logo-text
{
    height: 50%;
}
/* Navbar Brand Width Float */
.navbar .navbar-brand img
{
    width: auto;
    float: left;
}

/* All Thumbnail Images Border radius */
.thumbnail img
{
    border-radius: 4px;
}

/* All textarea Scroll Resizing */
textarea
{
    resize: none;
    overflow-y: hidden;
    margin: 5px 0;
}

*
{
    outline: 0;
}