 <!-- Start Of Statue Block -->
                        <div class="post hot" tabindex="0">
                            <div class="picture">
<!-- Post Picture Here -->
                                <img src="images/logo_shape.png" alt="">
                            </div>

                            <div class="text">
                            
                            <!-- Star Sign if Hot Post -->
                            <span class="star icon"><i class="fa fa-star icon-spin"></i></span>
<!-- Post Name Here -->
                                <a href="#" class="name">Full Name</a>    

<!-- Post Content Here -->
                                <p class="content"></p>
                            </div>

                            <!-- Clear Floa side effects -->
                            <div class="clearfix"></div>
                        </div><!-- End Of statue Block -->

                        
<!-- Load More Button Here-->
                        <!-- Load More Button -->
                        <button class="btn btn-default btn-lg full-width">Load More...</button>